.group1{
    background-image: url("./image/BackGround\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.group1h1{
    font-size: 7rem;
}
.group2{
    background-color: rgb(240, 237, 233);
}
.img img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.group2chi{
    position: relative;
    top: 130px;
    right: 30px;
}
.group2mus{
    position: relative;
    left: 60%;
    transform: rotate(80deg);
}
.group3{
    background-color: rgb(246, 75, 60);
    color: white;
}
.btn{
    color: rgb(246, 75, 60);
}
.group3h1{
    font-size: 6rem;
}
.group3img{
    margin-top: 7%;
    margin-left: 12%;
}
